<div id="mainBG"
style="background-image: url('{{ if $.Param "belgeUstfoto" }}{{ $.Param "belgeUstfoto" }}{{ else }}{{$.Site.Params.params.mainbg}}{{ end }}');"
>

<!-- {{ if $.Param "belgeUstfotoSize" }}{{ $.Param "belgeUstfotoSize" }}{{ end }} -->
<div
  class="wave wave1"
  style="background-image: url('{{ .Site.BaseURL }}/images/wave.png');"
></div>
<div
  class="wave wave2"
  style="background-image: url('{{ .Site.BaseURL }}/images/wave.png');"
></div>
<div
  class="wave wave3"
  style="background-image: url('{{ .Site.BaseURL }}/images/wave.png');"
></div>
<div
  class="wave wave4"
  style="background-image: url('{{ .Site.BaseURL }}/images/wave.png');"
></div>