<section>{{/*  https://codepen.io/jocelo/pen/baYVaQ  */}}
  <div id="bigCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#bigCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#bigCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#bigCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner slayt-perdele">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="{{site.BaseURL | absURL }}/images/belgelendirme/danismanlik.webp" class="d-block w-100" alt="Danışmanlık">
          <div class="carousel-caption p-1 d-none d-md-block">
            <h5>Danışmanlık</h5>
            <p>Bilgilendiriyoruz, belgelendiriyoruz..</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
{{/*            {{< img src="{{site.BaseURL | absURL }}/images/ilaclama.webp" alt="Dezenfeksiyon" class="d-block w-100" >}}  */}}
          <img src="{{site.BaseURL | absURL }}/images/ilaclama.webp" class="d-block w-100" alt="Dezenfeksiyon">
          <div class="carousel-caption  p-1 d-none d-md-block">
            <h5>İlaçlama-Dezenfeksiyon</h5>
            <p>Sağlıklı bir gelecek için </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="{{site.BaseURL | absURL }}/images/belgelendirme/cevre-danismanlik2.webp" class="d-block w-100" alt="Çevre Danışmanlık Hizmetleri">
          <div class="carousel-caption p-1 d-none d-md-block">
            <h5>Çevre Danışmanlık Hizmetleri</h5>
            <p>Gelecek nesillere daha güzel bir çevre için.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#bigCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#bigCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</section>