<!doctype html>
<html lang="{{ .Site.LanguageCode | default "tr" }}">
  {{ partial "head/head.html" . }}
  {{ if eq .Kind "home" -}}
    {{ .Scratch.Set "class" "home" -}}
  {{ else if eq .Kind "404" -}}
    {{ .Scratch.Set "class" "error404" -}}
  {{ else if eq .Kind "page" -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " single" -}}
  {{ else -}}
    {{ .Scratch.Set "class" .Type -}}
    {{ .Scratch.Add "class" " list" -}}
  {{ end -}}
  <body class="{{ .Scratch.Get "class" }}">
    {{ partial "header/header.html" . }}
    <div>
      {{ if and (not .IsHome) (ne .Type "iletisim") -}}{{ partial "cengiz/dalga.html" . }}{{ end -}}
    </div>
    {{ if eq .Type "iletisim" -}}
    <figure class="mt-n1"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10123.41781496422!2d40.51234099962126!3d41.031597443701294!3m2!1i1024!2i768!4f3.1!3m3!1m2!1s0x0%3A0x209f9160c2335fa9!2sKaradeniz%20Grup%20%C4%B0la%C3%A7lama%20ve%20Dezenfeksiyon!5e0!3m2!1str!2str!4v1587555623269!5m2!1str!2str" width="100%" height="400" allowfullscreen="" style="border:0;" loading="lazy" ></iframe></figure>
    {{ end -}}
    <div class="wrap {{ if not .IsHome }}container{{ end }}" role="document">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{ partial "footer/footer.html" . }}
    {{ if and .IsHome .Site.Params.alert }}
      {{ partial "footer/alert.html" . }}
    {{ end }}
    {{ partial "footer/script-footer.html" . }}
  </body>
</html>